body {
  font-family: 'Geneva', sans-serif;
  background-color: rgb(119, 201, 136);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Verdana', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}